* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Futura-Medium";
  src: url("../../public/fonts/futura1/unicode.futurabb.ttf");
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #fff;
  }
}

.burger-menu {
  height: 40%;
  width: 20%;
  margin: 0 20px 0 30px;
  img {
    height: 100%;
    width: 20px;
  }
}


.nav-menu-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30%;
  a {
    font-size: px;
    list-style-type: none;
    cursor: pointer;
  }
  img{
    padding-top: 5px;
  }
}

.search-icon-btn {
  height: 40%;
  width: 20%;
  margin: 0 20px 0 30px;
  img {
    height: 100%;
    width: 20px;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  position: absolute;

    text-align: center;
    a{
        font-family: Futura-Medium !important;
        color: black;
        font-size: 40px;
        font-weight: 100;
        text-decoration: none;
    }
}

.nav-right-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30%;
  a {
    font-size: px;
    list-style-type: none;
    cursor: pointer;
  }
  img{
    padding-top: 5px;
  }
}

.wishlist-btn{
  margin-right: 15%;
}

.cart-icon{
  height: 40%;
  width: 20%;
  margin: 0 20px 0 30px;
  img {
    height: 100%;
    width: 20px;
    mix-blend-mode: multiply;
    filter: contrast(1)
  }
}

