@font-face {
    font-family: 'Futura-Medium';
    src: url('../../public/fonts/futura1/futura\ medium\ bt.ttf');
}

@font-face {
    font-family: 'Futura-Light';
    src: url('../../public//fonts/futura1/futura\ light\ bt.ttf');
}


*{
    padding: 0;
    margin: 0;
    font-family: Futura-Light;
}

.background-image {
    background-image: url("https://us.louisvuitton.com/images/is/image/HP_AU_ARCHLIGHT_ANNIVERSARY_DI3.jpg?wid=2048"), url("https://us.louisvuitton.com/images/is/image/HP_AU_ARCHLIGHT_ANNIVERSARY_DI3.jpg?wid=2048");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
 